.banner_container {
  margin-top: -80px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(29, 41, 62, 0.5);
  object-fit: contain;
}

.banner_container > h1{
  color: white;
  font-size: 60px;
  margin-top: 50px;
  text-align: center;
  font-family: 'Dancing Script';
  animation: text 0.5s 1;
}

.banner_container > p{
  margin-top: 8px;
  color: white;
  font-size: 32px;
  text-align: center;
  font-family: 'Lobster';
}

@keyframes text{
  0%{
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}

.banner_btn {
  margin-top: 32px;
}

.banner_btn button{
  background-color: #ff7779;
  color: white;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 10px;
  outline: none;
  border: none;
  transition: ease-out 0.5s;
}

.banner_btn button:hover{
  box-shadow: inset 200px 0 0 0 #fff;
  background-color: white;
  color: #ff7779;
}

.fa-chevron-right{
  margin-left: 12px;
}

.fa-arrow-right{
  margin-left: 8px;  
}

@media screen and (max-width: 960px){
  .banner_container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px){
  .banner_container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .banner_container > p{
    font-size: 30px;
  }
}