.account_page{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
}

.account_container{
    transition: opacity 0.2s ease-in-out;
    display: flex;
    background-image: linear-gradient(to right, #242424 0%, #bebebe 100%);
    background-repeat: repeat-x;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.menuLeft{
    width: auto;
    visibility: visible;
    flex-basis: 25%;
    min-height: 100%;
    display: block;
}

.menuLeft_container{
    min-height: 868px;
}

.account_avatar_container{
    position: relative;
    outline: transparent !important;
    display: flex;
    height: inherit;
}

.account_avatar{
    background-color: black !important;
    color: white !important;
    height: 232px !important;
    width: 232px !important;
    margin: 30px auto;
    display: block;
    outline: transparent !important;
}


.account_avatar_edit{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    border: 0;
    height: 232px !important;
    width: 232px !important;
    margin: 30px auto;
    outline: transparent !important;
}

.account_avatar_edit_btn{
    border-radius: 50%;
    background-color: rgba(0,0,0,.7);
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 0;
    border: none;
    padding: 0;
    outline: transparent !important;
}

.account_avatar_edit_btn:hover{
    opacity: 1;
    cursor: pointer;
}

.account_avatar_icon_edit{
    transition: opacity .2s;
    /* margin-top: 16px; */
    margin: 0;
    /* margin-top: 0px; */
    padding: 0;
    border: 0;
    width:100%;
    height:100%;
}

.account_avatar_icon_edit svg{
    fill: currentcolor;
    height: 48px;
    width: 48px;
}

.account_avatar_icon_edit > label{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: normal;
    text-transform: none;
    margin: 0;
    padding: 0;
    border: 0;
    color: #fff;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    justify-content: center;
}

#upload_image{
    opacity: 0;
    position: absolute;
    z-index: -1;
 }

 .btn_upload_image{
    text-align: center;
}

.btn_upload_image button{
    padding: 5px 20px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    font-weight: 600 !important;
    background-color: transparent;
}

.btn_upload_image button:hover{
    background-color: red;
    border: 1px solid red;
}

.account_username{
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
}



.menuLeft_list{
    font-size: 16px;
    list-style: none;
    position: relative;
    border-bottom-color: rgba(255, 255, 255, 0.05);
    border-top-color: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 0;
    list-style: none;
}

.menuLeft_menuItem:hover::before, .menuLeft_menuItem.menu_active::before{
    background-color: red;
}

.menuLeft_menuItem::before{
    background-color: transparent;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    width: 5px;
}

.menuLeft_menuItem{
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.005);
        border-bottom-color: rgba(0, 0, 0, 0.004);
    border-top: 1px solid rgba(0, 0, 0, 0.025);
        border-top-color: rgba(0, 0, 0, 0.024);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-top-color: rgba(255, 255, 255, 0.05);
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 16px;
    line-height: 24px;
}

.menu_active .menuLeft_menuLink{
    fill: #ffffff;
    color: #f8f8f8;
}

.menuLeft_menuLink{
    text-decoration: none;
    display: block;
    position: relative;
    fill: #c1c3c6;
    padding: 15px 15px 15px 30px;
    padding-right: 15px;
    /* padding-left: 75px; */
    color: #919496;
    border: none;
    border-radius: 0;
    letter-spacing: 0;
    text-transform: none;
}

.menuLeft_menuLink > i{
    margin-right: 20px;
    font-size: 20px;
}

/* Phần chung của các Menu */
.menuOverview, .menuProfile, .menuFavorite, .menuPassword, .menuHistoryBooking{
    background-color: white !important;
    padding: 48px;
    flex: 1;
}

.menuOverview_container, .menuProfile_container, .menuFavorite_container, .menuPassword_container, .menuHistoryBooking_container{
    margin: 0px;
}

.menuOverview_title, .menuProfile_title, .menuFavorite_title, .menuPassword_title, .menuHistoryBooking_title{
    font-size: 48px;
    line-height: 56px;
    padding: 0px 0px 0.67em;
    letter-spacing: -1px;
}