.menuHotelManagement_header{
    padding: 30px 50px;
    text-align: center;
}

.menuHotelManagement_filter_hotel{
    cursor: pointer !important;
    text-align: center !important;
    border: 1px solid rgb(176, 176, 176) !important;
    background-color: rgb(255, 255, 255) !important;
    outline: currentcolor none medium !important;
    margin:  0px 10px !important;
    border-radius: 30px !important;
    color: rgb(34, 34, 34) !important;
    position: relative !important;
    padding: 8px 32px !important;
    font-size: 20px !important;
    line-height: 16px !important;
    font-weight: 600;
    text-align-last: center;
}

.menuHotelManagement_filter_hotel:hover{
    border-color: rgb(34, 34, 34) !important;
}

.menuHotelManagement_info{
    width: 70vw;
}

.menuHotelManagement_info > h3{
    font-weight: 300;
    margin-top: 10px;
}

.menuHotelManagement_info > p{
    margin-top: 10px;
    font-size: 13px;
    color: gray;
}

.hotelCard{
    display: flex;
    position: relative;
    margin: 20px;
    padding: 20px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.menuHotelManagement_links{
    display: flex;
    text-decoration: none;
}

.hotelCard:hover{
    opacity: 0.8;
}

.menuHotelManagement_img_hotel{
    background-color: gray;
    height: 200px !important;
    width: 350px !important;
    border-radius: 10px;
    overflow: hidden;
}

.menuHotelManagement_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    color: black !important;
    width: 100%;
}

.menuHotelManagement_btn{
    cursor: not-allowed;
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer !important;
    margin: 0px -8px !important;
    font-size: 20px !important;
    line-height: 18px !important;
    font-weight: 600 !important;
    border-radius: 8px !important;
    padding: 8px !important;
    border: medium none !important;
    background: transparent none repeat scroll 0% 0% !important;
    color: rgb(34, 34, 34) !important;
    text-decoration: underline !important;
    -moz-box-align: center !important;
    display: flex !important;
    outline: none !important;
}

.menuHotelManagement_btn.editHotel{
    right: 80px;
}

.menuHotelManagement_btn.removeHotel{
    right: 120px;
}

.menuHotelManagement_btn:hover{
    border: medium none !important;
    background: rgb(247, 247, 247) none repeat scroll 0% 0% !important;
    color: rgb(0, 0, 0) !important;
}

.menuHotelManagement_heart{
    margin-right: 16px !important;
}

.menuHotelManagement_heart_svg{
    display: block;
    height: 8px !important;
    width: 8px !important;
    stroke: currentcolor;
    stroke-width: 2px;
    overflow: visible;
}

.menuHotelManagement_redHeart_svg{
    display: block;
    fill: rgb(255, 56, 92);
    height: 16px;
    width: 16px;
    stroke: rgb(255, 56, 92);
    stroke-width: 2px;
    overflow: visible;
}

.menuHotelManagement_infoTop > h3{
    font-weight: 300;
    margin-top: 10px;
}

.menuHotelManagement_infoTop > p{
    margin-top: 10px;
    font-size: 13px;
    color: gray;
}

.menuHotelManagement_infoBottom{
    display: flex;
    justify-content: space-between;
}

.menuHotelManagement_star{
    color: red;
}

.menuHotelManagement_stars{
    display: flex;
    align-items: center;
}

.menuHotelManagement_price{
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.menuHotelManagement_price > h2 + p, .menuHotelManagement_price > h2{
    display: inline;
}

.menuHotelManagement_price > p{
    text-align: right;
}

.menuHotelManagement_btnScrollToTop{
    position: fixed; 
    border-radius: 99px;
    /* width: 100%; */
    background-color: transparent;
    border: none;
    right: 10px;
    bottom: 40px;
    font-size: 40px;
    z-index: 1;
    cursor: pointer;
    color: green;
}

/* Custom Modal */
.Button-module_button__3FnXy{
    cursor: pointer !important;
}

.Button-module_--primary__1ZLkB{
    background-color: green !important;
}

.Button-module_--light__3HiwO{
    color: white !important;
    background-color: red !important;
}