.menuPassword_form{
    padding-right: 50px;
    border-right: 1px solid #999;
}

.menuPassword_frame{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.menuPassword_suggestion{
    margin-left: 50px;
}

.menuPassword_form_btn{
    display: block;
    text-align: right;
}

.menuPassword_form_submit{
    box-sizing: border-box;
    background-color: transparent;
    border: 0px none;
    border-radius: 500px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    touch-action: manipulation;
    transition-duration: 33ms;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    padding: 0px;
    cursor: pointer;
    outline: none;
}

.menuPassword_form_submit:hover{
    transform: scale(1.04);
}

.menuPassword_form_submit_text{
    color: white !important;
    border-radius: 500px;
    font-size: inherit;
    padding: 17px 48px;
    transition: 0.5s !important;
    background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%);
    transition: 0.5s !important;
    background-size: 200% auto;
}

.menuPassword_form_submit_text:hover {
    background-position: 100%;
    text-decoration: none;
    cursor: pointer;
}
